


 /*----------------------------*/
 /*                            */
 /*  EDIT THIS FILE TO APPLY   */
 /*  YOUR DESIRED STYLE!       */
 /*                            */
 /*----------------------------*/



/*--------- BACKGROUND ---------------------*/

html { 
	/*koko sivun tausta on valkoinen.
	Muuta haluamaksesi*/
	background: rgb(127, 164, 170)

	/*Jos määrität html-tagissa fontteja, 
	taustavärejä tai tekstin värejä,
	samat määritykset tulevat kaikkiin sisällä oleviin
	elementteihin. Näin voit määrittää esim. koko sivun 
	fontit, värit ym. ja sitten muuttaa haluamissasi
	elementeissä tyylin toiseksi.*/


}

body { 
	padding:5px;	
	/*Kaiken sisällön ympärillä on body. 
	Voit muuttaa myös bodyn taustaväriä tai
	esim. lisätä paddingin, jotta elementit eivät 
	olisi reunassa kiinni.*/
	
	/*Tällä koodilla voit tehdä niin, että yli 900px
	leveässä näytössä body-tagi jää vain 900px leveäksi,
	ja reunoille jää tyhjää. Voit muuttaa tätä miten haluat.*/
	max-width: 960px;
	margin: auto; /*tämä keskittää body-tagin sivusuunnassa*/

}

/*--------- HEADER ---------------------*/

/*Header text on top of the menu*/
header h1 { 
	font-family: Arial;
	padding-left:1px;
	text-align:center;
	/*Pääotsikko*/

	/*Täällä kannattaa muokata background-, color- 
	font-size- ja font-family-arvoja.*/

	/*Laita myös ja marginaalit paddingit paremmin, 
	niin näyttää tyylikkäämmältä */

	/*Voit halutessasi myös esim. keskittää otsikon (text-align: center;)*/

	font-size: 20px;
}

/*--------- MAIN MENU ---------------------*/

/*Menu*/
#main-menu { 
	list-style-type: none; 
	display:flex;
	justify-content: center;
	flex-direction:row;
	/*Voit tehdä tästä flexboxin, 
	niin valikon napit menevät vierekkäin*/

	/*Laita tässä ja marginaalit paddingit paremmin, 
	niin näyttää tyylikkäämmältä */
	
	/*Voi muokata täällä myös background-, color-arvoja.*/
		
}

/*Menu item*/
#main-menu li {
	padding-inline: 40px;
	margin:0;
	font-family: Helvetica;
	background-color: rgb(214, 214, 223);
	color:#7D84B2;
	
	/*Laita tässä ja marginaalit paddingit paremmin, 
	niin näyttää tyylikkäämmältä */

	/*Voi muokata täällä myös background-, color-arvoja.*/

}

/*Link in menu item*/
#main-menu a { 
	text-decoration: none; /*poistaa linkin alleviivauksen*/

	/*Voi muokata täällä myös background-, color- 
	font-size- ja font-family-arvoja.*/

}

/*Menu item when mouse over*/
#main-menu a:hover { 
	
	/*Tässä määritellään, miltä valikon linkki näyttää, 
	kun kursori on sen päällä. Muuta paremmaksi */
	color: rgb(38, 0, 255); 
}

/*------- ARTICLE BUTTONS -------------------*/
/*Button in end of each article*/
	.button-25 {
  background-color: #36A9AE;
  background-image: linear-gradient(#37ADB2, #329CA0);
  border: 1px solid #2A8387;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  line-height: 100%;
  margin: 0;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
}

.button-25:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: .15s, .15s;
}

.button-25:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.button-25:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.button-25:disabled:active {
  pointer-events: none;
}

.button-25:disabled:hover {
  box-shadow: none;
}

}

/*Button when mouse over*/
.button:hover { 
	/*Tässä määritellään, nappi näyttää, 
	kun kursori on sen päällä. Muuta paremmaksi */
	color: rgba(0, 255, 64, 0); 
	/*Voit halutessasi laittaa vaikka koko 
	artikkelin muuttumaan jotenkin hiukan, 
	kun sen päällä on kursori.. :) */
}


/*--------- ARTICLES ---------------------*/

/*Artikkeleiden ympärillä*/
main {
	/*Kaikki "artikkelit" ovat main-tagin sisällä.
	Jos pidät tämän flexboxina, artikkelit menevät
	vierekkäin leveässä näytössä. 
	ja sitten artikkeleihin (ks. alla) esim. ,
	jolloin artikkelit asettuvat vierekkäin.*/
	
	display: flex; flex-wrap:wrap; justify-content: center;
}

/*Frame of each "article"*/
article {
	padding:10px;
	max-width: 300px;
	background-color:rgb(151, 172, 141);
	
	
	/*Jos main on flexbox, 
	tämä tekee sen, että "artikkelit" mahtuvat vierekkäin.*/
	
	/*Yksittäisen artikkelin tausta:
	Saatat haluta  muokata täällä background-, color- 
	sekä font-size- ja font-family-arvoja.*/

	/*Tärkeää: Laita tässä marginaalit ja paddingit paremmin, 
	niin näyttää tyylikkäämmältä! Teksti, kuva ym. ei saa olla 
	reunaan asti, vaan reunassa pitää olla marginaali (teknisesti
	margin tai padding).*/
	
}



/*article title*/
article h2 { 

	/*Yksittäisen artikkelin otsikko*/

	/*Kannattaa muokata täällä background-, color- 
	font-size- ja font-family-arvoja.*/

	/*Saatat haluta muokata täällä myös 
	background-, color-, margin- ja padding-
	font-size- ja font-family-arvoja.*/


}

/*article text*/
article p { 
	/*Artikkelin pienempi teksti*/

	/*Saatat haluta muokata täällä 
	background-, color-, margin- ja padding-
	font-size- ja font-family-arvoja.*/

}

/* "Images" */
.article-image { 
    max-width: 100%; /*Tämä tekee sen, että kuva ei mene yli reunasta.*/
	
	/*Kuva voi olla koko artikkelin levyinen tai pienempi. 
	Esim. alla olevalla kuvasta tulisi pienempi (=50%)
	ja teksti kiertää kuvaa (=float):
		width: 50%;
		min-width: 150px;
		float: left; 
	*/
}

/*-------- FOOTER ---------------*/

footer {
	background-color:rgb(180, 205, 214);
	text-align:center;
	max-width: 960px;/*Kannattaa laittaa footeriin vähintään padding 
	ja ehkä eri taustaväri, jotta se erottuu hiukan.*/
	
}

